@font-face{
    font-family: 'ALSArtemiusSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../font/ALSArtemiusSans-Regular.otf),
    url(../font/ALSArtemiusSans-Regular.otf);}

.logoLebedev__als-logoLebedev {

    width: 300px;
    height: 50px;
    border-radius: 8px;
    transition: 10s;
    background-color: rgb(151, 33, 38);

}
.logoLebedev{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;

}

.logo__initials{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-family: ALSArtemiusSans-Regular;
}
#als-logoLebedev{
    border-radius: 8px;
}